<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow">
    <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}">
    <div class="card-body">
      <h4 class="card-title"><a class="text-dark">{{.Title }}</a>
      </h4>
      <p class="cars-text">{{.Summary}}</p>
      {{ if and ( ne .URL "" ) ( ne .URL "#" ) }}
      <a href="{{ .URL | safeURL }}" class="btn btn-xs btn-primary">En savoir plus</a>
      {{ else }}
      <span class="btn btn-xs btn-primary">En savoir plus</span>
    </div>
  </article>
</div>